DATABASE_URL="postgresql://aleksandra@localhost:5432/krookies"

AUTH_SECRET="krookies-local-dev-secret"

ADMIN_PHONE="+79959178862"
ADMIN_EMAIL="crvenamacka@gmail.com"
ADMIN_PASSWORD="passwordkrookies"

NEXT_PUBLIC_SITE_URL="http://localhost:3000"

YOOKASSA_SHOP_ID=""
YOOKASSA_SECRET_KEY=""
YOOKASSA_WEBHOOK_SECRET=""
